api/config.local.php

uploads/properties/*
!uploads/properties/.htaccess
uploads/projects/*
!uploads/projects/.htaccess

videa/*
!videa/.gitkeep
!videa/.htaccess

videa-prezentace/*
!videa-prezentace/.gitkeep
!videa-prezentace/.htaccess

.env
.env.*
*.log

.DS_Store
Thumbs.db
