api/config.local.php

uploads/properties/*
!uploads/properties/.htaccess
uploads/projects/*
!uploads/projects/.htaccess

videa/*
!videa/.gitkeep
!videa/.htaccess

videa-prezentace/*
!videa-prezentace/.gitkeep
!videa-prezentace/.htaccess

videa-prezentace-na-vysku/*
!videa-prezentace-na-vysku/.gitkeep
!videa-prezentace-na-vysku/.htaccess

.env
.env.*
*.log

.DS_Store
Thumbs.db
